.icone-favori {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 2rem;
  opacity: 0.5;
  z-index: 100;
  cursor: pointer;
  &:hover {
    opacity: 1;
    color: $primary-color-light;
  }
}
.icone-favori.active {
  opacity: 1;
  color: $primary-color;
}
.admin-wrapper {
  background-color: $brand-grey;
}
.admin-header {
  h2 {
    display: inline-block;
  }
  a {
    float: right;
  }
}

.admin-listing-annonces {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.annonce-contenant {
  margin-right: 3rem;
  margin-bottom: 3rem;

}

// Pages show des annonces immobilières côté admin
.admin-page-container {
margin-top: 0;
padding-top: 3em;
}
.admin-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 15rem;
  padding-left: 15rem;
}
.admin-page-contenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.annonce-tableau {
  flex: 0 0 50%;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  tr {
    border-bottom: 1px solid $primary-color-light;
    td:first-child {
      font-weight: 400;
    }
  }
  th, td {
    padding: 15px 15px;
  }
}
.annonce-tableau-header {
  background-color: $primary-color;
  color: white;
}

.edit-cell {
  background-color: $primary-color-light;
  border-radius: 3px;
  padding: 0.5em 0.8em;
  color: white;
}
