// Bannière de présentation : photo + titre de page
#affaires-banner {
  height: 75vh;
  width: auto;
  background: url(affaires.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}

.affaires-banner-header {
  position: absolute;
  bottom: 8rem;
  left: 12rem;
  h2 {
    line-height: 1em;
    margin: 0px;
    color: $primary-color;
  };
   h4 {
    line-height: 1em;
    margin: 0px 0px 0.6em 0px;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 200;
  }
}
