// PAGE ANNONCES IMMOBILIERES - INDEX
// Bannière
#annonces-banner {
  background: image-url('immobilier.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}
// Bannière

// LES ANNONCES
.annonces-container {
  @media (max-width: $medium-screen) {
    justify-content: space-between;
  }
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.annonces-carte-annonce {
  @media (max-width: $medium-screen) {
    flex: 0 0 48%;
    padding-bottom: 1rem;
  }
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
  flex: 0 0 31%;
  text-align: center;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  height: auto;
  margin: 0 0.2rem 4rem 0.2rem;
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  p {
    font-weight: 300;
    font-size: 0.9rem;
    color: $brand-grey-text;
    text-align: center;
  }
  img {
    height: auto;
    width: 100%;
  }
}
.annonces-carte-annonce:hover {
  img {
    opacity: 0.4;
  }
  h3 {
    color: $primary-color;
  }
}
// PAGE ANNONCES IMMOBILIERES - INDEX


// PAGE ANNONCES IMMOBILIERES - VENTE IMMOBILIERE
// Bannière
#vente-banner {
  background: image-url('immobilier.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}
// particularité de ce header qui doit être fixé par la gauche pour que le rotate ne décale pas toute la phrase
#vente-banner-header {
  @media (max-width: $medium-screen) {
    left: 4rem;
  }
  @media (max-width: $small-screen) {
    left: 0;
  }
  left: 50rem;
}

// Partie contact
.vente-contact-section {
  display: flex;
  flex-wrap: wrap;
}
#vente-contact-picture {
  @media (max-width: $medium-screen) {
    display: none;
  }
  flex: 0 0 50%;
  background: image-url('banner-promotion.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  img {
    width: 100%;
    height: 100%;
  }
}
// PAGE ANNONCES IMMOBILIERES - VENTE IMMOBILIERE


// PAGE ANNONCES IMMOBILIERES - PAGE SHOW
#annonce-banner {
  background: image-url('banner-immobilier.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}
#annonce-show-section {
  padding-top: 0;
}

.annonce-show-share {
  @media (max-width: $small-screen) {
    margin-top: 2rem;
  }
  margin-top: 3rem;
}

.annonce-infos-container {
  @media (max-width: $small-screen) {
    padding: 0;
    margin-top: 2rem;
  }
  padding: 0 2rem;
  .col {
    padding: 0;
  }
  .btn-primary {
    @media (max-width: $small-screen) {
      margin-bottom: 1rem;
    }
  }
}
// prix
.annonce-price-label {
  line-height: 1em;
  margin: 0px 0px 0.6em 0px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
}
.annonce-price {
  @media (max-width: $small-screen) {
    margin-bottom: 2rem;
  }
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 3rem 0;
}
// prix

// autres infos
.annonce-infos-label {
  line-height: 1em;
  margin: 0px 0px 0.6em 0px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
}
.annonce-infos-content {
  font-size: 1.5rem;
  line-height: 1em;
  margin: 0px;
}
// autres infos

// description
.annonce-infos-header {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;

}
.annonce-descriptif {
  @media (max-width: $small-screen) {
    text-align: justify;
  }
  margin-top: 2rem;
  p {
    margin-top: 0;
  }
}
// description

// Réseaux sociaux
.btn-social {
  .fa {
    background-color: $primary-color-light;
    cursor: pointer;
    color: white;
    border-radius: 2px;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    width: 2.5rem;
    font-size: 1.5em;
    &:hover {
      background-color: white;
      color: $primary-color-light;
      border: 1px solid $primary-color-light;
    }
  }
}
// PAGE ANNONCES IMMOBILIERES - PAGE SHOW

// COMMUN : SLIDESHOW
.slider {
  height: 30rem !important;
  .slides {
    height: 26rem !important;
  }
  .indicator-item {
    height: 1rem !important;
    width: 1rem !important;
    margin: 0 1rem !important;
  }
}

.slider .indicators .indicator-item.active {
  background-color: $primary-color;
}
// COMMUN : SLIDESHOW

