// PAGE ANNONCES IMMOBILIERES - INDEX
// Bannière
#annonces-banner {
  background: url(immobilier.jpg);
  height: 60vh;
  width: 100%;
  background-repeat:no-repeat;
  background-size: cover;
}
#annonces-banner-header {
  bottom: 5rem;
  right: 10rem;
}
// Bannière

// LES ANNONCES
.annonces-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.annonces-carte-annonce {
  flex: 0 0 32%;
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  img {
    width: 100%;
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  p {
    font-weight: 300;
    font-size: 0.9rem;
    color: #9e9e9e;
    text-align: center;
  }
}
.annonces-carte-annonce:hover {
  img {
    opacity: 0.4;
  }
  h3 {
    color: $primary-color;
  }
}


// PAGE ANNONCES IMMOBILIERES - INDEX


// PAGE ANNONCES IMMOBILIERES - PAGE SHOW
.annonces-show-container {
  margin: 0 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.annonces-show-photo {
  flex: 0 0 50%;
  img {
    width: 100%;
  }
}

.annonces-show-infos {
  flex: 0 0 45%;
  background-color: white;
  padding: 0rem 2rem;
}

.annonces-show-tableau {
  td {
    vertical-align: top;
    p {
      margin: 0;
    }
  }
  tr {
    border-top: 1px solid $primary-color-light;
  }
  i {
    color: $primary-color;
  }
}

// Boutons partage réseaux sociaux
#toast-container {
  right: auto !important;
  left: 11% !important;
  top: 25% !important;
  .toast {
    background-color: $secondary-color;
  }
}
// PAGE ANNONCES IMMOBILIERES - PAGE SHOW
