// FAMILLE
#famille-banner {
  background: image-url('banner-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-famille.jpg')
  }
  background-repeat: no-repeat;
  background-size: cover;
}
// FAMILLE

// Union
#union-banner {
  background: image-url('banner-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-famille.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Union

// Divorce
#divorce-banner {
  background: image-url('banner-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-famille.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Divorce

// Adoption
#adoption-banner {
  background: image-url('banner-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-adoption.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Adoption

// Donation
#donation-banner {
  background: image-url('banner-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-famille.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Donation

// Succession
#succession-banner {
  background: image-url('banner-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-famille.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Succession

// Testament
#testament-banner {
  background: image-url('banner-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-famille.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Testament

// IMMOBILIER
#immobilier-banner {
  background: image-url('banner-immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-immobilier.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// IMMOBILIER

// Achat immobilier
#acheter-banner {
  background: image-url('immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-immobilier.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Achat immobilier

// Vente immobilière
#vendre-banner {
  background: image-url('immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-immobilier.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Vente immobilière

// AFFAIRES
#affaires-banner {
  background: image-url('banner-affaires.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-affaires.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// AFFAIRES

// Société
#societe-banner {
  background: image-url('affaires.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-affaires.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Société

// Acquisition - Cession
#acquisition-banner {
  background: image-url('affaires.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-affaires.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Acquisition - Cession

// Bail commercial
#bail-banner {
  background: image-url('affaires.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-affaires.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// Bail commercial

// PROMOTION
#promotion-banner {
  background: image-url('immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-immobilier.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// PROMOTION

// sitemap
#sitemap-banner {
  background: image-url('immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-immobilier.jpg')
  }
  background-repeat:no-repeat;
  background-size: cover;
}
// sitemap
