#office-landing-picture {
  background: image-url('office-notarial-rennes.jpg');
  @media (max-width: $small-screen) {
    background: image-url('office-notarial-rennes-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top;
}
#famille-landing-picture {
  background: image-url('notaires-rennes-droit-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-droit-famille-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat: no-repeat;
  background-size: cover;
}
#union-landing-picture {
  background: image-url('notaires-rennes-droit-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-droit-famille-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#divorce-landing-picture {
  background: image-url('notaires-rennes-droit-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-droit-famille-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#adoption-landing-picture {
  background: image-url('notaires-rennes-droit-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-droit-famille-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#donation-landing-picture {
  background: image-url('notaires-rennes-droit-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-droit-famille-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#succession-landing-picture {
  background: image-url('notaires-rennes-droit-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-droit-famille-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#testament-landing-picture {
  background: image-url('notaires-rennes-droit-famille.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-droit-famille-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#immobilier-landing-picture {
  background: image-url('notaires-rennes-expertise-immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-expertise-immobilier-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
#acheter-landing-picture {
  background: image-url('immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-landing-picture-immobilier.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#vendre-landing-picture {
  background: image-url('immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-landing-picture-immobilier.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#affaires-landing-picture {
  background: image-url('landing-picture-affaires.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-landing-picture-affaires.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#societe-landing-picture {
  background: image-url('affaires.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-landing-picture-affaires.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#acquisition-landing-picture {
  background: image-url('affaires.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-landing-picture-affaires.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#bail-landing-picture {
  background: image-url('affaires.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-landing-picture-affaires.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#promotion-landing-picture {
  background: image-url('promotion-immobiliere-notaire-rennes.jpg');
  @media (max-width: $small-screen) {
    background: image-url('promotion-immobiliere-notaire-rennes-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#sitemap-landing-picture {
  background: image-url('notaires-rennes-plan-site.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-plan-site-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#legal-landing-picture {
  background: image-url('notaires-rennes-mentions-legales.jpg');
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-mentions-legales-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#faq-landing-picture {
  background: image-url('notaires-rennes-questions-frequentes.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-questions-frequentes-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
}
#contact-landing-picture {
  background: image-url('notaires-rennes-contact.jpg');
  background-position: center;
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-contact-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
  background-repeat:no-repeat;
  background-size: cover;
}
#search-landing-picture {
  background: image-url('notaires-rennes-recherche.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  @media (max-width: $small-screen) {
    background: image-url('notaires-rennes-recherche-mobile.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }
}
