// Bannière de présentation : photo + titre de page
#contact-banner {
  background: image-url(photo-test3.png);
  background-repeat:no-repeat;
  background-size: cover;
}
// Bannière de présentation : photo + titre de page
#map {
  height: 400px;
}

.contact-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-left-side, .contact-right-side {
  flex: 0 0 50%;
  padding: 0px 1em;
}

// Formulaire de contact - Sur la page contact ET sur la homepage
// Coordonnées
#page-contact-infos {
  padding-left: 1rem;
}
.contact-form-header {
  font-size: 0.9rem;
  color: #9e9e9e;
}
.contact-form-infos {
  margin-top: 1rem;
  .col {
    padding-left: 0;
    padding-right: 0;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    color: $brand-grey-text;
  }
  .fa {
    color: initial;
    font-size: initial;
    margin-right: 0.4rem;
  }
}
.contact-form-label {
  color: $primary-color;
}
// Coordonnées
