// STYLESHEET COMMUNE AUX PAGES DES EXPERTISES : uniquement premier niveau
// Pour le dernier niveau (exemple Pacs) se référer à la stylesheet "pages-expertise"

// PAGE 1ER NIVEAU
// Section de redirection vers les expertises
// Sections sur fond gris et fond blanc & cartes expertises
.expertise-box {
  @media (max-width: $small-screen) {
    margin-bottom: 0;
  }
  margin-top: 2rem;
  margin-bottom: 2rem;
  // display: flex;
  // justify-content: space-around;
  // align-items: flex-start;
  // flex-wrap: wrap;
}
.expertise-redirection-card {
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
    margin-bottom: 3rem;
  }
  flex: 0 0 30%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.couple-redirection-card, .white-redirection-card {
  background-color: white;
}
.succession-redirection-card, .grey-redirection-card {
  background-color: $brand-grey;
}
.expertise-redirection-card-line-title {
  background-color: $brand-dark-grey;
  margin-top: 2rem;
  width: 2rem;
}
.expertise-redirection-card-title {
  @media (max-width: $medium-screen) {
    font-size: 1.4rem;
  }
  @media (max-width: $small-screen) {
    font-size: 2rem;
  }
  font-size: 2rem;
  font-weight: 400;
}
.expertise-redirection-card-icon {
  float: right;
  height: 0px;
  img {
    position: relative;
    height: 3rem;
    bottom: 1rem;
  }
}
.expertise-redirection-card-description {
  font-size: 0.9rem;
  text-align: justify;
  margin-bottom: 0;
}
.expertise-redirection-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.expertise-transmission-box {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
// comportement au hover
.expertise-redirection-card:hover {
  background-color: $primary-color-light;
  .expertise-redirection-card-description {
    color: white;
  }
  .expertise-redirection-card-title:hover {
    color: white;
  }
}
// comportement au hover
