// STYLESHEET COMMUNE AUX PAGES DES EXPERTISES : uniquement premier niveau
// Pour le dernier niveau (exemple Pacs) se référer à la stylesheet "pages-expertise"

// PAGE 1ER NIVEAU
// Section de redirection vers les expertises
// Sections sur fond gris et fond blanc & cartes expertises
.expertise-box {
  @media (max-width: $small-screen) {
    margin-bottom: 0;
  }
  margin-top: 2rem;
  margin-bottom: 2rem;
  // display: flex;
  // justify-content: space-around;
  // align-items: flex-start;
  // flex-wrap: wrap;
}
.expertise-redirection-card {
  padding: 2rem;
  position: relative;
}
.expertise-redirection-card-header {
  width: 100%;
  position: relative;
}

// ajouter des marges
.expertise-box .row .col {
  @media (max-width: 1000px) {
    margin-bottom: 2rem;
  }
}
// supprimer la marge en trop du dernier élément
.expertise-box .row .col:last-child {
  margin-bottom: 0 !important;
}

.couple-redirection-card, .white-redirection-card {
  background-color: white;
}
.succession-redirection-card, .grey-redirection-card {
  background-color: $brand-grey;
}
.expertise-redirection-card-line-title {
  background-color: $brand-dark-grey;
  width: 2rem;
}
.expertise-redirection-card-title {
  @media (max-width: $medium-screen) {
    font-size: 1.4rem;
  }
  @media (max-width: $small-screen) {
    font-size: 1.5rem;
  }
  font-size: 2rem;
  font-weight: 400;
  max-width: 75%;
}
.expertise-redirection-card-icon {
  position: absolute;
  right: 0;
  top: -1rem;
  img {
    height: 3rem;
    @media (max-width: $small-screen) {
      height: 2rem;
    }
  }
}
.expertise-redirection-card-description {
  font-size: 0.9rem;
  text-align: justify;
  margin-bottom: 0;
}
.expertise-redirection-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.expertise-transmission-box {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
// comportement au hover
.expertise-redirection-card:hover {
  background-color: $primary-color-light;
  .expertise-redirection-card-description {
    color: white;
  }
  .expertise-redirection-card-title:hover {
    color: white;
  }
}
// comportement au hover
