// Colonne de gauche :
// 1. Menu
// 2. Contact
// 3. Telecharger plaquette ?
#famille-menu-scrollspy {
  position: fixed;
  z-index: 2000;
}
.famille-menu-links {
  display: inline-block;
  font-weight: 300;
  color: #757575;
  padding-left: 20px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .4;
  display: inline-block;
}

// les headings des 4 sous catégories
.famille-section-heading {
  flex: 0 0 75%;
  padding-left: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  .line-title {
    display: inline-block;
  }
}

.famille-section-heading.couple, .famille-section-heading.transmission {
  padding-bottom: 0;
}

.famille-heading {
  text-align: center;
  justify-content: space-around;
  a:hover {
    color: $primary-color-light;
  }
  .section-description {
    p {
      margin-bottom: 1rem;
    }
  }
}
// les headings des 4 sous catégories

// les flexbox
.expertise-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.expertise-redirection-card {
  flex: 0 0 32%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.couple-redirection-card, .transmission-redirection-card {
  background-color: white;
}
.succession-redirection-card, .adoption-redirection-card {
  background-color: $brand-grey;
}

.expertise-redirection-card-line-title {
  background-color: $brand-dark-grey;
  margin-top: 2rem;
  width: 30px;
}
.expertise-redirection-card-title {
  font-size: 2rem;
  font-weight: 400;
}
.expertise-redirection-card-icon {
  float: right;
  height: 0px;
  img {
    position: relative;
    height: 45px;
    bottom: 12px;
  }
}
.expertise-redirection-card-description {
  font-size: 0.9rem;
  text-align: justify;
  margin-bottom: 0;
}

.expertise-redirection-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.expertise-transmission-box {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

// comportement au hover
.expertise-redirection-card:hover {
  background-color: $primary-color-light;
  .expertise-redirection-card-description {
    color: white;
  }
  .expertise-redirection-card-title:hover {
    color: white;
  }
}
// comportement au hover
