// Bannière de présentation : photo + titre de page
#faq-banner {
  background: url(guides.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}
// Bannière

#page-faq-questions {
  text-align: justify;
  h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
  }
  h4 {
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    color: #222222;
    font-size: 18px;
  }
  .collapsible-header {
    padding: 0 3rem;
  }
  .collapsible-body {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}



// ANCIENNE VERSION - A REVOIR



.guides-section {
  margin: 0 15rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

.guides-section-cartes {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

// CARTES SPECIALES GUIDES
.carte-guide {
  position: relative;
  flex: 0 0 30%;
  max-width: 30vw;
  img {
    height: 230px;
    width: auto;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-weight: 300;
    font-size: 0.8rem;
  }
  .btn-light {
    text-align: initial;
  }
}

.carte-guide-line {
  left: 0;
  top: 240px;
}
