.faq-questions {
  text-align: justify;
  .collapsible-header {
    @media (max-width: $small-screen) {
      padding: 1rem 1rem;
      min-height: 1rem;
      line-height: 1rem;
    }
    padding: 0 2rem;
    font-weight: 300;
    font-size: 1rem;
    &:hover {
      color: $primary-color-light;
    }
  }
  .collapsible-body {
    text-align: justify;
    @media (max-width: $small-screen) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
    padding-right: 5rem;
    padding-left: 5rem;
    p {
      font-size: 1rem;
      color: $brand-grey-text;
    }
  }
}
.collapsible {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
