// Bannière de présentation : photo + titre de page
#guides-banner {
  height: 75vh;
  width: auto;
  background: url(guides.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}


.guides-banner-header {
  position: absolute;
  bottom: 8rem;
  left: 15rem;
  h2 {
    line-height: 1em;
    margin: 0px;
    color: white;
  };
   h4 {
    line-height: 1em;
    margin: 0px 0px 0.6em 0px;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
  }
}

.guides-section {
  margin: 0 15rem;
  padding-top: 2em;
  padding-bottom: 2em;
}
