/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

// .test {
//   color: $primary-color;
//   background-color: $secondary-color;
// }

// BANNER
.homepage-header {
  position: relative;
  height: 100vh;
}
.homepage-header-background {
  background: image-url('banner-home') no-repeat fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.homepage-header-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 10;
  h1 {
    @media (max-width: $medium-screen) {
      font-size: 3rem;
    }
    font-size: 3.5rem;
    line-height: 110%;
    letter-spacing: 0.1rem;
    margin: 2.1rem 0 1.68rem 0;
  }
}
.banner-logo-container {
  display: flex;
  align-items: center;
}
.banner-logo {
  flex: 0 0 50%;
  text-align: right;
}
.banner-names {
  text-align: left;
  .names {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 100%;
    margin: 0 0 0.5rem 1rem;
    margin-left: 1rem;
    letter-spacing: .1em;
    font-weight: 400;
    display: block;
  }
}
#banner-logo {
  border-right: 1px solid $brand-grey-text;
  padding-right: 1rem;
}

// BANNER


// SECTIONS
.homepage-section {
  @media (max-width: $medium-screen) {
    padding: 3rem 4rem;
  }
  @media (max-width: $small-screen) {
    padding: 2rem 2rem;
  }
  padding: 3rem 10rem 3rem 10rem;
}
// SECTIONS


// SECTION VALEURS
.homepage-values-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem;
  flex-wrap: wrap;
}
.value-card {
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
  flex: 0 0 30%;
}
.value-first-title {
  @media (max-width: $small-screen) {
    font-size: 1.2rem;
  }
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.value-number {
  @media (max-width: $medium-screen) {
    font-size: 50px;
    bottom: 8px;
  }
  @media (max-width: $small-screen) {
    font-size: 40px;
    bottom: 10px;
  }
  @media (min-width: $very-large-screen) {
    font-size: 4rem;
  }
  float: right;
  font-size: 60px;
  line-height: 29px;
  font-weight: 400;
  opacity: 0.1;
  position: relative;
  bottom: 20px;
}
.value-description {
  text-align: justify;
  p {
    font-size: 1rem;
    color: $brand-grey-text;
  }
}
.value-button {
  text-align: center;
  margin-top: 2rem;
}
// SECTION VALEURS


// SECTION EXPERTISES
.expertise-heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.expertise-section-heading {
  @media (max-width: $medium-screen) {
    flex: 0 0 66%;
  }
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
  flex: 0 0 50%;
  p {
    margin-bottom: 0;
  }
}
.expertise-section-button {
  flex: 0 0 25%;
  .btn {
    float: right;
  }
}

// CARTES EXPERTISES
.homepage-expertises-box {
  @media (max-width: $medium-screen) {
    margin-bottom: 0;
  }
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.homepage-expertise {
  position: relative;
  @media (max-width: $medium-screen) {
    flex: 0 0 48%;
    margin-bottom: 3rem;
  }
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
  flex: 0 0 24%;
  img {
    height: auto;
    width: 100%;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  p {
    font-weight: 300;
    font-size: 0.8rem;
  }
  .btn-light {
    text-align: initial;
  }
}
// SECTION EXPERTISES


// SECTION ANNONCES
.immobilier-heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.immobilier-section-heading {
  flex: 0 0 50%;
  p {
    margin-bottom: 0;
  }
}
.immobilier-section-button {
  flex: 0 0 30%;
  .btn {
    float: right;
  }
}
// CARTES ANNONCES
.homepage-annonces-box {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.homepage-annonce {
  position: relative;
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
  flex: 0 0 32%;
  img {
    height: auto;
    width: 100%;
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  p {
    font-weight: 300;
    font-size: 0.9rem;
    color: $brand-grey-text;
    text-align: center;
  }
  .btn-light {
    text-align: initial;
  }
}
// SECTION ANNONCES


// SECTION FORMULAIRE DE CONTACT
.homepage-contact-section {
  display: flex;
  flex-wrap: wrap;
}

.homepage-contact-form {
  @media (max-width: $medium-screen) {
    flex: 0 0 100%;
  }
  flex: 0 0 50%;
  background-color: $brand-grey;
}

#homepage-contact-container {
  @media (max-width: $small-screen) {
    padding: 2rem 2rem;
  }
  padding: 5rem 5rem 5rem 5rem;
  .row {
    @media (min-width: $very-large-screen) {
      margin-bottom: 2rem;
    }
  }
}

.homepage-contact-picture {
  @media (max-width: $medium-screen) {
    flex: 0 0 100%;
    position: relative;
  }
  flex: 0 0 50%;
  img {
    width: 100%;
    height: 100%;
  }
}
// SECTION FORMULAIRE DE CONTACT


// SECTION CONTACT
.homepage-section-contact {
  position: relative;
}
#map-homepage {
  height: 60vh;
  width: 100%;
}
.section-contact-infos {
  @media (max-width: $medium-screen) {
    display: none;
  }
  position: absolute;
  background-color: white;
  padding: 2rem 4rem;
  opacity: 0.9;
  top: 4rem;
  left: 4rem;
  bottom: 4rem;
}
#section-contact-infos-mobile {
  @media (max-width: $medium-screen) {
    display: initial;
    padding: 5rem 6rem 2rem 6rem;
    top: 7rem;
    left: 9rem;
    bottom: 10rem;
  }
  @media (max-width: $small-screen) {
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    padding: 2rem;
  }
  display: none;
  .contact-form-infos {
    @media (max-width: $small-screen) {
      margin-top: 1rem;
    }
    .contact-form-label {
      @media (max-width: $small-screen) {
        font-size: 0.9rem;
      }
    }
    .row {
      @media (max-width: $small-screen) {
        margin: 0;
      }
      .col {
        margin: 0;
      }
    }
  }
}
.section-contact-header {
  h2 {
    @media (max-width: $small-screen) {
      font-size: 1rem;
      margin: 0;
    }
    font-size: 1.5rem;
    line-height: 1rem;
    margin: 0.6rem 0 0 0;
  }
}
.section-contact-subtitle {
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
}
// SECTION CONTACT
