#negociation-banner {
  @media (max-width: $small-screen) {
    height: calc(100vh - 52px);
  }
  background: image-url('banner-immobilier.jpg');
  @media (max-width: $small-screen) {
    background: image-url('small-banner-immobilier.jpg');
  }
  height: 100vh;
  width: 100vw;
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// Les cartes
.immobilier-redirection-card {
  width: 26rem;
  padding: 3rem 4rem;
  position: relative;
  opacity: 0.9;
  margin-top: 3rem;
  margin-bottom: 3rem;
  @media (max-width: $small-screen) {
    padding: 2rem 2rem;
    width: 20rem;
  }
}
.immobilier-redirection-card:hover {
  background-color: $primary-color-light;
  opacity: 1;
}

.immobilier-redirection-card-line-title {
  background-color: $brand-dark-grey;
  margin-top: 2rem;
  width: 2.5rem;
}
.immobilier-redirection-card-title {
  font-size: 2rem;
  font-weight: 400;
}
.immobilier-redirection-card-icon {
  float: right;
  height: 0px;
  img {
    position: relative;
    height: 3rem;
    bottom: 1rem;
  }
}
.immobilier-redirection-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
