// Les bannières sont propres à chaque page

// Format du Contenu
// Le container : les marges & paddings
.page-expertise-section {
  h2 {
    text-align: left;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
  }
  h4 {
    line-height: 1rem;
    font-weight: 700;
    font-style: normal;
    color: #222222;
    font-size: 1.2rem;
  }
  p {
    text-align: justify;
    font-size: 1rem;
    color: $brand-grey-text;
  }
}

// Utilities communes
.section-grey-header {
  font-weight: 200;
  margin: 0px;
}

.section-white-header {
  font-weight: 200;
  margin: 0px;
}

// Test pour la ligne orange
.large-orange-hr {
  box-sizing: content-box;
  height: 0;
  width: 5rem; // si besoin de repasser en px,  ajuster à 80px
  border: 1.5px solid $primary-color;
  position: absolute;
  left: 2rem;
}

// Présentation de la FAQ
.faq-content {
  padding-top: 2em;
}
.question-container {
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  margin-bottom: 2rem;
  h5 {
    margin: 0;
  }
}

.question-container:hover {
  background-color: $primary-color-light;
  color: white;
}

.answer-box {
  display: none;
}

.answer-box.active {
  display: block;
}

// FAQ
#questions .collapsible-header {
  @media (max-width: $small-screen) {
    min-height: 1rem;
    line-height: 1rem;
    padding: 1rem 1rem;
  }
}

#questions span {
  color: $brand-grey-text;
}

// CARTES SPECIALES POUR LES FICHES PRATIQUES
.fiches-pratiques-container {
  // display: flex;
  // justify-content: space-between;
  // align-items: auto;
  margin-top: 2rem;
  // flex-wrap: wrap;
}

.carte-fiche-pratique {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); // même box-shadow que les fiches de présentation des notaires de la page Office
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: auto;
  flex: 0 0 24%;
  border: 1px solid $primary-color-light;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  position: relative;
  .carte-fiche-header {
    color: white;
    background-color: $primary-color-light;
    width: 100%;
    padding: 1.5rem 1rem;
    text-align: center;
    .carte-fiche-type {
      line-height: 1em;
      margin: 0;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 1rem;
    }
  }
  .carte-fiche-infos {
    margin: 0px;
    padding: 0 2rem;
    width: 100%;
    p {
      font-size: 0.9rem;
      color: $brand-grey-text;
    }
    .carte-fiche-title {
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 2rem 0 2rem 0;
      text-align: center;
    }
  }
  .carte-fiche-doc {
    i {
      color: $primary-color;
      margin-right: 0.8rem;
    }
  }
}


// LEFT MENU
.menu-section {
  margin-bottom: 3rem;
  h5 {
    font-weight: 500;
    font-size: 1rem;
    color: $brand-dark-grey;
  }
}
.left-menu-header {
  border: 1px solid orange;
  border-radius: 2px;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-top: 0;
}
.table-of-contents {
  margin: 0;
}
