// Les bannières sont propres à chaque page
// PAGE DROIT DE LA FAMILLE
#famille-banner {
  height: 75vh;
  width: auto;
  background: url(photo-test2.png);
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}
.famille-banner-header {
  position: absolute;
  bottom: 2rem;
  left: 12rem;
  h2 {
    line-height: 1em;
    margin: 0px;
    color: white;
  };
   h4 {
    line-height: 1em;
    margin: 0px 0px 0.6em 0px;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
  }
}
// PAGE DROIT DE LA FAMILLE


// Format du Contenu
// Le container : les marges & paddings
.page-expertise-section {
  text-align: justify;
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
  }
  h4 {
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    color: #222222;
    font-size: 18px;
  }
}

// Utilities communes
.section-grey-header {
  font-weight: 200;
  margin: 0px;
}

.section-white-header {
  font-weight: 200;
  margin: 0px;
}

// Test pour la ligne orange
.large-orange-hr {
  box-sizing: content-box;
  height: 0;
  width: 5rem; // si besoin de repasser en px,  ajuster à 80px
  border: 1.5px solid $primary-color;
  position: absolute;
  left: 2rem;
}

// Présentation de la FAQ
.faq-content {
  padding-top: 2em;
}
.question-container {
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 0.2);
  position: relative;
  cursor: pointer;
  margin-bottom: 2rem;
  h5 {
    margin: 0;
  }
}

.question-container:hover {
  background-color: $primary-color-light;
  color: white;
}

.answer-box {
  display: none;
}

.answer-box.active {
  display: block;
}

// CARTES SPECIALES POUR LES FICHES PRATIQUES
.fiches-pratiques-container {
  display: flex;
  justify-content: space-between;
  align-items: auto;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.carte-fiche-pratique {
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 300px;
  height: auto;
  flex: 0 0 24%;
  border: 3px solid $primary-color-light;
  margin-bottom: 2rem;
  .carte-fiche-header {
    color: white;
    background-color: $primary-color-light;
    width: 100%;
    padding: 1.5rem 1rem;
    h5 {
      text-align: center;
      margin-bottom: 0;
      margin-top: 0;
    }
    p {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .carte-fiche-infos {
    margin: 0px;
    padding: 0.2em 3em;
    width: 100%;
    p {
      font-size: 0.9rem;
      color: $brand-grey-text;
    }
  }
  .carte-fiche-doc {
    i {
      color: $primary-color;
      margin-right: 0.8rem;
    }
  }
}


// LEFT MENU
.menu-section {
  margin-bottom: 3rem;
  h5 {
    font-weight: 500;
    font-size: 1rem;
    color: $brand-dark-grey;
  }
}
.left-menu-header {
  border: 1px solid orange;
  border-radius: 2px;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-top: 0;
}
.table-of-contents {
  margin: 0;
}
