// SECTIONS
.page-section {
  @media (max-width: $medium-screen) {
    padding: 3rem 4rem;
  }
  @media (max-width: $small-screen) {
    padding: 2rem;
  }
  padding: 3rem 10rem;
}
// SECTIONS

.section-heading-content {
  @media (max-width: $small-screen) {
    padding-left: 0;
    position: initial;
  }
  padding-left: 100px;
  position: relative;
  h2 {
    @media (max-width: $small-screen) {
      margin-top: 1.4rem;
      font-size: 1.5rem;
    }
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
  }
}

.section-line-title {
  @media (max-width: $small-screen) {
    position: initial;
  }
  left: 0;
  position: absolute;
  top: 31px;
}

.section-subtitle {
  font-size: 1rem;
  line-height: normal;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
}

.section-description {
  text-align: justify;
  p {
    font-size: 0.9rem;
    color: $brand-grey-text;
  }
}

.section-heading-button {
  display: flex;
}
