// landing-picture -- Idem à Homepage
.sessions-header {
  position: relative;
  height: 100vh;
}
.sessions-header-background {
  background: image-url('landing-picture-home') no-repeat fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.sessions-header-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 10;
}
// landing-picture

// FORMULAIRE
.log-in-form {
  background-color: white;
  padding: 4rem 3rem;
  label {
    display: block !important;
    color: $brand-grey-text;
    top: -2rem;
  }
  .input-field {
    margin-bottom: 2rem;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 4rem;
  }
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
}
