<!-- Ré-intégrer les photos des trois notaires -->
    <!-- 2ème section - Les notaires : paragraphe de description -->
      <div class="team-content">
        <div class="row">
          <div class="col s12 m4">
            <div class="team-member">
              <div class="card">
                <div class="card-image">
                  <%= image_tag('photo1.jpg', class: 'activator') %>
                </div>
                <div class="card-content activator">
                  <span class="card-title activator">
                    Loïc Perraut
                  </span>
                  <div class="card-btn">
                    <i class="material-icons">add</i>
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Loïc Perraut<i class="material-icons right">close</i></span>
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <h6>Particularités</h6>
                  <p>Avant d’être notaire associé à l’étude en 1988, il a été collaborateur d’une des plus importantes études parisiennes.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Promotion immobilière</p>
                  <p>Immobilier complexe</p>
                  <p>Droit public</p>
                  <p>Droit des associations</p>
                  <h6>Email</h6>
                  <p>loic.perraut@notaires.fr</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="team-member">
              <div class="card">
                <div class="card-image">
                  <%= image_tag('photo2.jpg', class: 'activator') %>
                </div>
                <div class="card-content activator">
                  <span class="card-title activator">
                    Céline Mével
                  </span>
                  <div class="card-btn">
                    <i class="material-icons">add</i>
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Céline Mével<i class="material-icons right">close</i></span>
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <p>DU Gestion du Patrimoine (AUREP)</p>
                  <h6>Particularités</h6>
                  <p>Avant de rejoindre l’étude en 2015 et d’y être nommé Notaire associé, elle a travaillé pour un grand groupe immobilier spécialisé dans la transaction de fonds de commerce.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Droit des affaires</p>
                  <p>Droit des Sociétés</p>
                  <p>Gestion de patrimoine</p>
                  <h6>Email</h6>
                  <p>celine.mevel@notaires.fr</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="team-member">
              <div class="card">
                <div class="card-image">
                  <%= image_tag('photo3.jpg', class: 'activator') %>
                </div>
                <div class="card-content activator">
                  <span class="card-title activator">
                    Jean-Charles Pirioux
                  </span>
                  <div class="card-btn">
                    <i class="material-icons">add</i>
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Jean-Charles Pirioux<i class="material-icons right">close</i></span>
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <h6>Particularités</h6>
                  <p>Avant d’être notaire associé à l’étude en 1992, il y a été collaborateur depuis 1980. Il a été enseignant à l’institut des métiers du notariat pendant plus de 20 ans.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Droit de la famille</p>
                  <p>Gestion de patrimoine</p>
                  <h6>Email</h6>
                  <p>jean-charles.pirioux@notaires.fr</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- 2ème section - Les notaires : paragraphe de description -->
