<!-- Bouton Contact -->
<div id="contact-link">
  <div class="contact-link-content">
    <span class="contact-link-icon valign-wrapper"><i class="fa fa-envelope" aria-hidden="true"></i></span>
    <span class="contact-link-text">Contactez-nous</span>
    <%= link_to '', contact_path, class: 'carte-link' %>
  </div>
</div>
<!-- Bouton Contact -->
