<div id="first-footer">
  <div class="footer-section">
    <div class="row">
      <div class="col s12 m6 l4 offset-l2">
        <div class="section-heading-content footer-heading">
          <span class="section-subtitle">Office notarial à Rennes</span>
          <span class="line-title section-line-title"></span>
          <h4>PERRAUT - PIRIOUX - MEVEL</h4>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="footer-contact-form-infos">
          <div class="row">
            <div class="col s12 m6">
              <span class="footer-contact-form-label">Adresse</span>
              <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
            </div>
            <div class="col s12 m6">
              <span class="footer-contact-form-label">Téléphone</span>
              <p><i class="fa fa-phone" aria-hidden="true"></i>02 99 67 39 39</p>
              <p><i class="fa fa-fax" aria-hidden="true"></i>02 99 67 34 54</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col s12">
              <span class="footer-contact-form-label">Email</span>
              <p><i class="fa fa-envelope" aria-hidden="true"></i>perraut-pirioux-mevel@notaires.fr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="second-footer">
  <div class="second-footer-section">
    <ul>
      <li class="footer-links"><%= link_to "Contact", contact_path %></li>
      <li class="footer-links"><%= link_to "Plan du site", sitemap_path %></li>
      <li class="footer-links"><%= link_to "Mentions légales" %></li>
    </ul>
  </div>
</div>
