<div id="first-footer">
  <div class="footer-section">
    <div class="section-heading-content footer-heading">
      <div class="row">
        <div class="col s12 m5">
          <span class="section-subtitle footer-subtitle">Notaires à RENNES - VISITATION</span>
          <span class="line-title section-line-title white-line"></span>
          <h4>Perraut - Pirioux - Mével</h4>
        </div>
        <div class="col s12 m7">
          <div class="row">
            <div class="col s12 l5">
              <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
            </div>
            <div class="col s12 l7">
              <p>Tel : 02 99 67 39 39<br>Email : perraut-pirioux-mevel@notaires.fr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="second-footer">
  <div class="second-footer-section">
    <ul>
      <li class="footer-links"><%= link_to "Contact", contact_path %></li>
      <li class="footer-links"><%= link_to "Plan du site", plan_du_site_path %></li>
      <li class="footer-links"><%= link_to "Mentions légales", legal_path %></li>
    </ul>
  </div>
</div>
