<div class="search-page-wrapper">
  <%= form_tag(search_path, :method => "get", id: "search-form", class: "search-page-item hidden") do %>
    <input type="text" name="search" id="search-input" class="form-control" placeholder="Tapez ici votre recherche et cliquez sur 'Chercher'">
    <button type="submit" class="btn btn-primary">CHERCHER</button>
  <% end %>
  <%= image_tag 'close-window-icon-grey.png', class: "search-page-item hidden", id: "search-page-close-link" %>
</div>
