<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="page-expertise-section" id="introduction">
        <h2><%= expertise.nom %></h2>
        <%= expertise.description.html_safe %>
      </div>
    </div>
  </div>
</div>
