<div class="col s12 m4 center-align">
  <div class="carte-collaborateur">
    <span class="nom-collaborateur"><%= nom_collaborateur %></span>
    <h6 class="position-collaborateur"><%= position_collaborateur %></h6>
    <p class="email-collaborateur"><%= email_collaborateur %></p>
  </div>
</div>
