<div id="first-banner" style="background-image: url('<%= image_path('youmiam-banner-bg')%>');">
  <div id="banner-brand-container">
    <div id="banner-brand">
      <%= image_tag('youmiam-logo.png') %>
      <span class="brand-name">Youmiam</span>
    </div>
  </div>
  <div id="banner-advertise-chip">Advertise with Youmiam</div>
  <div id="banner-intro">
    <h1>Régis fait<br><span class="gras">l'espion.</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa at, facere eos assumenda aut eius aliquam dolorum veritatis obcaecati reiciendis in pariatur dolore consequuntur odit harum, provident a tenetur saepe.</p>
  </div>
  <div class="test">
    <%= image_tag('youmiam-test.png') %>
  </div>
</div>


<div id="second-banner">
  <h1 class="red-title">This is<br><span class="gras">how we do</span></h1>
  <div class="subtitle">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, explicabo! Odio sit eaque, quo quibusdam eos sequi praesentium dignissimos, dolores quaerat ullam officia distinctio veritatis fuga hic, quas nesciunt ipsum!</p>
  </div>
  <div class="test">
    <%= image_tag('youmiam-bandeau-rouge.png') %>
  </div>
</div>

<div id="third-banner">
  <h1 class="white-title">On casse<br><span class="gras">des culs</span></h1>
  <div class="subtitle">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam explicabo, adipisci deserunt, deleniti atque vero nemo neque iusto voluptatum dicta dolorem repudiandae! Quia aut sit numquam, provident. Tempora, repellendus, illo!</p>
  </div>
  <div id="third-page-infos">
    <div class="element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, alias eveniet, ducimus quibusdam eum neque maiores doloremque vitae excepturi natus atque esse quasi inventore, sapiente ullam labore quae mollitia molestiae.</div>
    <div class="element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium impedit accusamus voluptates, laudantium aspernatur possimus necessitatibus perspiciatis porro nihil ab a tempora totam id, ut suscipit beatae iusto! Magnam, perspiciatis!</div>
    <div class="element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa unde voluptate harum quis modi cum possimus ab, id explicabo, ad deleniti libero iste ducimus molestias deserunt, incidunt quod, dolore alias.</div>
  </div>
</div>
