<div class="container">
  <h1>Nous contacter</h1>

  <div class="row contact-content">
    <div class="contact-left-side">
      <div id="map"></div>
    </div>
    <div class="contact-right-side">
      <p class="underlined">Office notarial</p>
      <p>Loïc PERRAUT, Jean-Charles PIRIOUX et Céline MÉVEL</p>
      <p>
        7 rue de la Visitation
        CS 60808
        35108 RENNES CEDEX 3
      </p>
      <p>Tél : 02 99 67 39 39</p>
      <p>Fax : 02 99 67 34 54</p>
      <p>perraut-pirioux-mevel@notaires.fr</p>
    </div>
  </div>
  <!-- The map will be drawn in this div -->

  <div class="personnalized-contact-form">
    <%= render 'shared/contact-form', contact: @contact %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      console.log('toto');
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false }, internal: { id: 'map' } }, function(){
         markers = handler.addMarkers([
            {
              "lat": 48.114403,
              "lng": -1.678775,
              "infowindow": "<h1>Office Perraut - Pirioux - Meve</h1>"
            }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    });
  </script>
<% end %>
