<div class="page-landing-picture" id="sitemap-landing-picture">
  <div class="page-landing-picture-header left">
    <span class="page-landing-picture-subtitle">Crédits</span>
  </div>
</div>

<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Crédits</span>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="sitemap-category">
    <h4>Crédits</h4>
    <span class="line-title"></span>
    <h5>Icônes</h5>
    <ul>
      <p>The material is available under Public License, see <a href="https://creativecommons.org/licenses/by/3.0/legalcode">here</a>.</p>
      <p>No changes were made to the following icons :</p>
      <li><a href="https://thenounproject.com/term/building/862480/">"Building"</a> icon by Deepz from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=family&i=676341">"Family"</a> icon by Gregor Cresnar from the Noun Project</li>
      <li><a href="https://thenounproject.com/grega.cresnar/uploads/?i=831846">"Analytics"</a> icon by Gregor Cresnar from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=house&i=889590">"House"</a> icon by Numero Uno from the Noun Project</li>
      <li><a href="https://thenounproject.com/nl_menghini/uploads/?i=10805">"Poster"</a> icon by Nicholas Menghini from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=handshake&creator=753582&i=685087">"Handshake"</a> icon by Gregor Cresnar from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=rings&i=564071">"Rings"</a> icon by ProSymbols from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=hearts&creator=2260774&i=813458">"Hearts"</a> icon by Royyan Wijaya from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=heart&creator=1763063&i=557816">"Broken heart"</a> icon by ProSymbols from the Noun Project</li>
      <li><a href="https://thenounproject.com/ralfschmitzer/uploads/?i=875470">"Livelihood"</a> icon by Ralf Schmitzer from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=hand&creator=1913957&i=851667">"Donate"</a> icon by Oksana Latysheva from the Noun Project</li>
      <li><a href="https://thenounproject.com/ziman.jan/collection/file/?oq=file&cidx=1&i=861050"">Sign File"</a> icon by JohnnyZi from the Noun Project</li>
      <li><a href="https://thenounproject.com/Bloomua/uploads/?i=325882">"Company Branding"</a> icon by Anatolii Babii from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=handshake&creator=46337&i=176712">"Handshake"</a> icon by Sergey Demushkin from the Noun Project</li>
      <li><a href="https://thenounproject.com/search/?q=shop&creator=1421115&i=829170">"Shop"</a> icon by Made by Made from the Noun Project</li>
      <p>The following icon was used once unchanged and once horizontally rotated :</p>
      <li><a href="https://thenounproject.com/search/?q=keys&creator=64420&i=699144">"Give Keys"</a> icon by Oliviu Stoian from the Noun Project</li>
    </ul>
    <h5>Photos - Unsplash</h5>
    <ul>
      <li>Breather</li>
      <li>Jenn Richardson</li>
      <li>Drew Hays</li>
      <li>Matt Jones</li>
      <li>Olu Eletu</li>
      <li>Hernan Lucio</li>
      <li>Dmitrij Paskevic</li>
    </ul>
  </div>
</div>
