<div class="container">
  <h1>Droit de la famille</h1>
  <ul>
    <li><%= link_to "mariage", mariage_path %></li>
    <li><%= link_to "pacs", pacs_path %></li>
    <li><%= link_to "donation", donation_path %></li>
    <li><%= link_to "testament", testament_path %></li>
  </ul>
</div>
