<!-- Bannière -->
<div class="page-banner" id="faq-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Tout savoir sur vos démarches</span>
    <h1>Foire aux questions</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Foire aux questions</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<div class="page-section">
  <div id="page-faq-questions">
    <ul class="collapsible" data-collapsible="collapsible">
    <li>
      <div class="collapsible-header active"><h2>Combien ça coûte ?</h2></div>
      <div class="collapsible-body">
        <h6>Emoluments, Honoraires - Définition</h6>
        <p>Il est peut-être délicat d’aborder ce sujet alors qu’on est en pleins préparatifs
        du « plus beau jour de sa vie ». Cependant c’est le meilleur moment pour le faire.
        Vous pouvez toujours choisir de le faire ou de le modifier plus tard, mais cela sera plus onéreux et si jamais il arrivait quelque chose entre-temps, vous pourriez le regretter.</p>
        <p>Pour mémoire, le contrat de mariage n’est pas uniquement envisagé pour un divorce hypothétique mais également en cas de décès.
        Certes les sujets ne sont pas très euphoriques, mais justement ils sont suffisamment douloureux pour s’éviter des difficultés supplémentaires lors de leur survenue.</p>
        <h6>Emoluments - Calcul</h6>
        <a href="http://www.paris.notaires.fr/outil/immobilier/calcul-de-frais-dachat" class="btn-light">Comprendre le calcul  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        <h6>Honoraires - Calcul</h6>
        <p>Les honoraires dépendant des opérations effectuées, etc etc, blablabla</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Quoi, que, ou ?</h2></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Bonjour</h2></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>



  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="faq"').addClass('active');
    });
  </script>
  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
<% end %>
