<!-- Les meta tags -->
<% content_for :meta_title, "Office notarial - Foire aux Questions | Perraut Pirioux Mével" %>
<% content_for :meta_description, "L'office Perraut Pirioux Mével répond à toutes vos questions concernant vos démarches auprès des notaires." %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="faq-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Tout savoir sur vos démarches</span>
    <h1>Foire aux questions</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Foire aux questions</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<%= render 'shared/questions-collapsible', expertise: @expertise %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="faq"]').addClass('active');
    });
  </script>
  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
<% end %>
