<div class="container">
  <div class="homepage-header">
    <div class="homepage-header-background"></div>
    <div class="homepage-header-content">
    Site en construction
    </div>
  </div>


  <h2><%= link_to "Admin annonces immobilières", annonces_immobilieres_admin_path %></h2>
  <h2>Test dynamique avec Searchkick</h2>
  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
    <input type="text" name="search" id="search-input" class="form-control" placeholder="Recherche">
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>  SEARCH</button>
  <% end %>
</div>
<br>
<br>
<br>
