<div class="container">
  <div class="homepage-header">
    <div class="homepage-header-background"></div>
    <div class="homepage-header-content">
    Site en construction
    <h1>Notaires à Rennes</h1>
    </div>
  </div>
  <div class="section homepage-section">
    <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est  animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
    <%= link_to 'En savoir plus', office_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="section homepage-steps">
  <h2><%= link_to "Admin annonces immobilières", annonces_immobilieres_admin_path %></h2>
</div>
