<!-- Bannière -->
<div class="page-banner" id="sitemap-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Mentions légales</span>
  </div>
</div>
<!-- Bannière -->

<!-- Subnavigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Mentions légales</span>
    </div>
  </div>
</div>
<!-- Subnavigation -->

<!-- Plan -->
<div class="page-section">
  <div class="sitemap-category">
    <h4>Propriété</h4>
    <span class="line-title"></span>
    <p>Etude notariale Perraut - Pirioux - Mével<br>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
    <p>Siret : 342 146 990 00037</p>
  </div>
  <div class="sitemap-category">
    <h4>Protection des données personnelles</h4>
    <span class="line-title"></span>
    <p>L’office notarial dispose d’un traitement informatique pour l’accomplissement des activités notariales, notamment de formalités d’actes.
    En vertu de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les parties peuvent exercer leurs droits d’accès et de rectification aux données les concernant en s’adressant au correspondant Informatique et Libertés désigné par l’office à : cil@notaires.fr.</p>
  </div>
  <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Office notarial Perraut Pirioux Mével - Conception Julie Pierre</p>
  <p><%= link_to "Crédits", credits_path %></p>
</div>
