<div id="immobilier-banner">
  <div class="immobilier-banner-header">
    <h4>NOTRE EXPERTISE</h4>
    <h2>Mariage</h2>
  </div>
</div>

<div class="page-section">
  <div class="row">
    <div class="col s12 m3">
      <div id="mariage-menu-scrollspy">
        <h5>Mariage</h5>
        <ul class="section table-of-contents">
          <li><a href="#introduction" class="active" data-link="#introduction">Introduction</a></li>
          <li><a href="#questions" data-link="#questions">Questions</a></li>
          <li><a href="#fiches" data-link="#fiches">Fiches pratiques</a></li>
          <li><a href="#outils" data-link="#outils">Outils de calcul</a></li>
        </ul>
        <p>Liens utiles</p>
      </div>
    </div>
    <div class="col s12 m9">
      <div class="page-expertise-section" id="introduction">
        <h2>Le  Mariage</h2>
        <p>Il est peut-être délicat d’aborder ce sujet alors qu’on est en pleins préparatifs
        du « plus beau jour de sa vie ». Cependant c’est le meilleur moment pour le faire.
        Vous pouvez toujours choisir de le faire ou de le modifier plus tard, mais cela sera plus onéreux et si jamais il arrivait quelque chose entre-temps, vous pourriez le regretter.</p>
        <p>Pour mémoire, le contrat de mariage n’est pas uniquement envisagé pour un divorce hypothétique mais également en cas de décès.
        Certes les sujets ne sont pas très euphoriques, mais justement ils sont suffisamment douloureux pour s’éviter des difficultés supplémentaires lors de leur survenue.</p>
      </div>
      <div class="page-expertise-section" id="questions">
        <h4>Qu'est-ce qu'un contrat de mariage ?</h4>
        <p>Le contrat de mariage permet au couple de préparer les dispositions de son régime matrimonial. Ce document n'est pas obligatoire, mais il est utile pour fixer les règles de gestion du patrimoine à deux, et de prévoir ce qui se passe au moment de la dissolution du mariage.</p>
        <h4>Pourquoi prévoir un contrat de mariage ?</h4>
        <p>Un contrat de mariage est là pour vous protéger au mieux en fonction de votre situation. Naturellement il a vocation à se protéger des tiers.</p>
        <h4>Suis-je obligé de signer un contrat de mariage ?</h4>
        <p>Absolument pas. Toutefois, si vous n’en souscrivez pas, vous serez d’office sous le régime légal par défaut appelé « Communauté réduite aux acquêts». En réalité : vous subissez le contrat de mariage imposé par la loi, alors ne vaut-il pas mieux en choisir un qui réponde à vos besoins ?</p>
        <h4>Qu’est ce que le régime par défaut : communauté réduite aux acquêts ?</h4>
        <p>Les biens AVANT le mariage : tout ce qui est à l’un reste à l’un et ce qui est à l’autre reste à l’autre. Chacun des époux conservera aussi en propre les biens reçus par voie de succession ou donation.</p>
        <p>Les biens APRES le mariage : tout ce qui est acquis est automatiquement commun (50/50) aux deux époux (biens comme dettes), même si l’un des deux a beaucoup plus participé que l’autre, voire a acheté tout seul.</p>
        <h4>Dans quels cas un contrat de mariage est-il recommande ?</h4>
        <p>On pourrait dire dans tous les cas bien sûr. Toutefois, s’il ne fallait décrire que les plus « à risque », on pourrait citer :</p>
        <ul>
          <li>- la femme au foyer</li>
          <li>- le chef d’entreprise, la profession libérale ou l’auto-entrepreneur</li>
          <li>- un des membres du couple très riche</li>
          <li>- le couple sans enfants</li>
          <li>- les familles recomposées</li>
        </ul>
        <h4>Selon mon cas quel contrat est le plus recommande ?</h4>
        <p>Bien sûr il faut étudier au cas par cas et en fonction du profil de chacun car si vous cumulez plusieurs situations au sein même de votre famille il faudra faire des compromis. Par exemple, si madame est au foyer, monsieur chef d’entreprise, avec de grosses différences de patrimoines et famille recomposée, il faudra sûrement privilégier certains éléments par rapport à d’autres.</p>
      </div>
      <div class="page-expertise-section" id="fiches">
        <h2 class="section-white-header">FICHES PRATIQUES</h2>
        <div class="fiches-pratiques-container">
          <div class="carte-fiche-pratique">
            <div class="carte-fiche-header">
              <h5>Promesse de vente</h5>
              <p>Les documents nécessaires</p>
            </div>
            <div class="carte-fiche-infos">
              <p>Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.</p>
              <ul class="carte-fiche-liste">
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Fiche de paie</span></li>
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contrat de travail</li>
              </ul>
            </div>
          </div>
          <div class="carte-fiche-pratique">
            <div class="carte-fiche-header">
              <h5>Promesse de vente</h5>
              <p>Les documents nécessaires</p>
            </div>
            <div class="carte-fiche-infos">
              <p>Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.</p>
              <ul class="carte-fiche-liste">
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Fiche de paie</span></li>
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contrat de travail</li>
              </ul>
            </div>
          </div>
          <div class="carte-fiche-pratique">
            <div class="carte-fiche-header">
              <h5>Promesse de vente</h5>
              <p>Les documents nécessaires</p>
            </div>
            <div class="carte-fiche-infos">
              <p>Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.</p>
              <ul class="carte-fiche-liste">
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Fiche de paie</span></li>
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contrat de travail</li>
              </ul>
            </div>
          </div>
          <div class="carte-fiche-pratique">
            <div class="carte-fiche-header">
              <h5>Promesse de vente</h5>
              <p>Les documents nécessaires</p>
            </div>
            <div class="carte-fiche-infos">
              <p>Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.</p>
              <ul class="carte-fiche-liste">
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Fiche de paie</span></li>
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contrat de travail</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-expertise-section" id="outils">
        <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
        <h4><a href="https://www.immobilier.notaires.fr/fr/frais-de-notaire" target="_blank"><i class="fa fa-calculator" aria-hidden="true"></i> Calculez vos frais</a></h4>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var mariageMenuTop = $("#mariage-menu-scrollspy").position()['top'];
      $(window).scroll(function(){
        console.log(mariageMenuTop);
        $("#mariage-menu-scrollspy").css("top", Math.max(80, mariageMenuTop - $(this).scrollTop()));
        if ($('#introduction').isOnScreen()) {
          $('.table-of-contents a').removeClass('active');
          $('.table-of-contents a[data-link="#introduction"').addClass('active');
        };
        if ($('#questions').isOnScreen()) {
          $('.table-of-contents a').removeClass('active');
          $('.table-of-contents a[data-link="#questions"').addClass('active');
        };
        if ($('#fiches').isOnScreen()) {
          $('.table-of-contents a').removeClass('active');
          $('.table-of-contents a[data-link="#fiches"').addClass('active');
        };
        if ($('#outils').isOnScreen()) {
          $('.table-of-contents a').removeClass('active');
          $('.table-of-contents a[data-link="#outils"').addClass('active');
        };
      });
    })
  </script>
<% end %>
