<div class="container">
  <div class="negociation-choice">
    <div class="negociation-achat-banner" style="background: url(assets/photo-test2.png)">
      <a class="negociation-achat-banner-link" href="/annonces">
        <div class="banner-contenu">
          <h2>Je souhaite <br>acheter un bien</h2>
          <p>Venez découvrir nos annonces</p>
          <div class="btn btn-primary">J'achète</div>
        </div>
      </a>
    </div>
    <div class="negociation-vente-banner" style="background: url(assets/photo-test2.png)">
      <a class="negociation-vente-banner-link" href="/vente-immobilier">
        <div class="banner-contenu">
          <h2>Je souhaite <br>vendre un bien</h2>
          <p>Nous vous accompagnons</p>
          <div class="btn btn-primary">Je vends</div>
        </div>
      </a>
    </div>
  </div>
</div>
