<div id="negociation-banner">
  <div class="negociation-choice-container">
    <div class="negociation-choice-card">
      <%= image_tag 'icone-achat.png' %>
      <h2 class="negociation-choice-title">
        J'achète un bien
      </h2>
      <%= link_to '', annonces_path, class: 'card_link' %>
    </div>
    <div class="negociation-choice-card">
      <%= image_tag 'icone-vente.png' %>
      <h2 class="negociation-choice-title">
        Je vends un bien
      </h2>
      <%= link_to '', vente_path, class: 'card_link' %>
    </div>
  </div>
</div>
