<div id="office-banner">
  <div class="office-container-header">
      <h4>L'office</h4>
      <h2>Céline Mevel</h2>
      <h2>Loïc Perraut</h2>
      <h2>Jean-Charles Pirioux</h2>
    </div>
</div>
<div>
  <div>
    <a href='assets/document-test.pdf' id="telecharger-plaquette" class="btn btn-primary" download='plaquette_perraut_pirioux_mevel'><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
  </div>
  <div class="office-content">
    <h2>Présentation et valeurs</h2>
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  </div>
</div>
<div class="grey-bg team-container">
  <h2 class="center-align section-grey-header">LES NOTAIRES</h2>
  <div class="team-content">
    <div class="team-member">
      <div class="carte-equipe">
        <div class="carte-equipe-photo">
          <%= image_tag 'photo1.jpg' %>
        </div>
        <div class="carte-equipe-infos">
          <h5>Loic Perraut</h5>
          <p>Expérience etc etc</p>
        </div>
      </div>
    </div>
    <div class="team-member">
      <div class="carte-equipe">
        <div class="carte-equipe-photo">
          <%= image_tag 'photo2.jpg' %>
        </div>
        <div class="carte-equipe-infos">
          <h5>Céline Mevel</h5>
          <p>Expérience etc etc</p>
        </div>
      </div>
    </div>
    <div class="team-member">
      <div class="carte-equipe">
        <div class="carte-equipe-photo">
          <%= image_tag 'photo3.jpg' %>
        </div>
        <div class="carte-equipe-infos">
          <h5>Jean-Charles Pirioux</h5>
          <p>Expérience etc etc</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="office-content">
  <h2>L'équipe</h2>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
</div>
