<div id="immobilier-banner">
  <div class="immobilier-banner-header">
    <h4>NOTRE EXPERTISE</h4>
    <h2>Testament</h2>
  </div>
</div>
<div class="page-expertise-section">
  <h2>Présentation</h2>
  <h3>Qu'est-ce que le droit immobilier ?</h3>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
</div>
<div class="grey-bg">
  <div class="page-expertise-section">
    <h2 class="center-align section-grey-header">VOS QUESTIONS</h2>
    <div class="faq-content">
      <h5>Que faire si ma promesse de vente comporte une erreur ?</h5>
      <p>Dans tous les cas, il vous faudra contacter votre notaire. Il sera en mesure d'analyser la situation et prendre les décisions nécessaires.</p>
      <h5>Quel est l'intérêt d'un bail d'habitation notarié ?</h5>
      <p>Avez-vous pensé au bail notarié pour votre mise en location. Rédigé, signé et conservé par le notaire, Le bail notarié vous permettra d’obtenir le paiement de vos loyers impayés, sans qu’il y ait besoin d’une décision de justice. Un bail non notarié nécessitera une procédure judiciaire souvent longue et couteuse. En résumé, signez votre bail chez le notaire.</p>
      <h5>Doit-on avoir les diagnostics immobiliers pour la promesse de vente ?</h5>
      <p>Les diagnostics immobiliers ont pour but d'informer votre acquéreur pour lui permettre d'acquérir en connaissance de cause. L’ensemble des diagnostics sont à fournir au notaire pour la signature de la promesse de vente.</p>
      <div class="question-container question-active" data-target="immobilier-question1">
        <h5>Que faire si ma promesse de vente comporte une erreur ?</h5>
        <hr class="large-orange-hr">
        <div class="answer-box" id="immobilier-question1">
          <br>
          <p class="answer">Dans tous les cas, il vous faudra contacter votre notaire. Il sera en mesure d'analyser la situation et prendre les décisions nécessaires.</p>
        </div>
      </div>
      <div class="question-container question-active" data-target="immobilier-question2">
        <h5>Quel est l'intérêt d'un bail d'habitation notarié ?</h5>
        <hr class="large-orange-hr">
        <div class="answer-box" id="immobilier-question2">
          <br>
          <p class="answer">Avez-vous pensé au bail notarié pour votre mise en location. Rédigé, signé et conservé par le notaire, Le bail notarié vous permettra d’obtenir le paiement de vos loyers impayés, sans qu’il y ait besoin d’une décision de justice. Un bail non notarié nécessitera une procédure judiciaire souvent longue et couteuse. En résumé, signez votre bail chez le notaire.</p>
        </div>
      </div>
      <div class="question-container question-active" data-target="immobilier-question3">
        <h5>Doit-on avoir les diagnostics immobiliers pour la promesse de vente ?</h5>
        <div class="answer-box" id="immobilier-question3">
          <hr class="large-orange-hr">
          <br>
          <p class="answer">Les diagnostics immobiliers ont pour but d'informer votre acquéreur pour lui permettre d'acquérir en connaissance de cause. L’ensemble des diagnostics sont à fournir au notaire pour la signature de la promesse de vente.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-expertise-section">
  <h2 class="center-align section-white-header">FICHES PRATIQUES</h2>
  <div class="fiches-pratiques-container">
    <div class="carte-fiche-pratique">
      <div class="carte-fiche-header">
        <h5>Promesse de vente</h5>
        <p>Les documents nécessaires</p>
      </div>
      <div class="carte-fiche-infos">
        <p>1. Blabla</p>
        <p>2. Encore blabla</p>
      </div>
    </div>
    <div class="carte-fiche-pratique">
      <div class="carte-fiche-header">
        <h5>Promesse de vente</h5>
        <p>Les documents nécessaires</p>
      </div>
      <div class="carte-fiche-infos">
        <p>1. Blabla</p>
        <p>2. Encore blabla</p>
      </div>
    </div>
    <div class="carte-fiche-pratique">
      <div class="carte-fiche-header">
        <h5>Promesse de vente</h5>
        <p>Les documents nécessaires</p>
      </div>
      <div class="carte-fiche-infos">
        <p>1. Blabla</p>
        <p>2. Encore blabla</p>
        <p>3. Toujours du blabla et du blabla</p>
        <p>4. Ceci est un test, car c'est très important de tester !</p>
      </div>
    </div>
    <div class="carte-fiche-pratique">
      <div class="carte-fiche-header">
        <h5>Promesse de vente</h5>
        <p>Les documents nécessaires</p>
      </div>
      <div class="carte-fiche-infos">
        <p>1. Blabla</p>
        <p>2. Encore blabla</p>
      </div>
    </div>
  </div>
</div>
