<div class="orange-bg">
<br>
  <h1 class="center-align">Vente immobilière</h1>
  <h2>Vous vendez <span class="rotate">une maison, un appartement, un chateau, un parking</span> ?</h2>
</div>
<div class="page-immobilier-container">
  <h2>Notre expertise</h2>
  <p>Notre office vous accompagne dans la recherche d'acquéreurs grâce à un négociateur, etc etc.</p>
</div>
