// Bannière
.page-banner {
  @media (max-width: $medium-screen) {
    height: 60vh;
  }
  @media (max-width: $small-screen) {
    height: 75vh;
  }
  height: 75vh;
  width: auto;
  position: relative;
}
// pour chaque page, la bannière a un id qui permet d'indiquer le background

// Position des titres
.page-banner-header {
  position: absolute;
  @media (max-width: $medium-screen) {
    bottom: 17rem;
  }
  @media (max-width: $small-screen) {
    bottom: 10rem;
    padding: 0 2rem;
  }
  bottom: 5rem; // chaque header est à la même position horizontale mais peut être à droit ou à gauche selon la photo
  // span pour les sous-titres
  .page-banner-subtitle {
    @media (max-width: $small-screen) {
      font-size: 1.2rem;
    }
    line-height: 1em;
    margin: 0px 0px 0.6em 0px;
    color: white; // la couleur est partout la même pour l'instant
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.6rem;
  }
  // h1 pour les titres
  h1 {
    @media (max-width: $small-screen) {
      font-size: 2rem;
    }
    font-size: 3rem;
    line-height: 1em;
    margin: 0px;
    color: white; // la couleur est partout la même pour l'instant
  }
}
.page-banner-header.left {
  @media (max-width: $small-screen) {
    left: 0;
  }
  left: 10rem;
}
.page-banner-header.right {
  @media (max-width: $small-screen) {
    right: 0rem;
  }
  right: 10rem;
}

// Variante de couleur pour les titres
.page-banner-header.header-red {
  .page-banner-subtitle {
    color: $secondary-color;
  }
  h1 {
    color: $secondary-color;
  }
}
