/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Common utilities
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $brand-dark-grey;
  a {
    color: $brand-dark-grey;
  }
}

// Containers & Wrappers

.page-wrapper {
  background-color: $brand-grey;
}

.line-title {
  @media (min-width: $very-large-screen) {
    width: 2.5rem;
  }
  background: $primary-color;
  height: 3px;
  width: 3rem;
  display: block;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.unpadded {
  padding: 0px;
}

// Margins
.no-bottom-margin {
  margin-bottom: 0px !important;
}
.unmargined {
  margin: 0px;
}

.text-center {
  text-align: center;
}


// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Sections sur fond colorés, full width
.grey-bg {
  background-color: $brand-grey;
}

.orange-bg {
  background-color: $primary-color;
  color: white;
}

// Others
.hidden {
  display: none;
}

.not-visible {
  visibility: hidden;
}

.underlined {
  border-bottom: solid 3px $primary-color;
  display: inline-block;
}

.italic {
  font-style: italic;
}

.gras {
  font-weight: 600;
}

.tres-gras {
  font-weight: 700;
}

.carte-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
