<div class="container">
  <h1>Page admin pour annonces immobilières</h1>

  <!-- NOUVELLE ANNONCE -->
  <!-- Modal Trigger - Creation d'une nouvelle annonce -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal-nouvelle-annonce">Créer nouvelle annonce</a>

  <!-- Modal Nouvelle annonce -->
  <div id="modal-nouvelle-annonce" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h2>Nouvelle annonce</h2>
      <%= render 'shared/annonce-form', annonce: @annonce %>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn">Fermer</a>
    </div>
  </div>

  <!-- LISTING DES ANNONCES -->
  <ul>
    <% @annonces.each do |annonce| %>
      <li>
        <%= annonce.reference %>
        <a class="modal-trigger waves-effect waves-light btn" href="#modal-modification-annonce">Modifier</a>
        <%= link_to 'Supprimer', annonce_path(annonce), method: :delete, class: "btn btn-primary" %>
      </li>
      <!-- Modal Modification d'une annonce -->
      <div id="modal-modification-annonce" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h2>Modification annonce</h2>
          <%= render 'shared/annonce-form', annonce: annonce %>
        </div>
        <div class="modal-footer">
          <a href="#" class="modal-action modal-close waves-effect waves-green btn">Fermer</a>
        </div>
      </div>
    <% end %>
  </ul>


</div>





