<!-- Bannière -->
<div class="page-landing-picture" id="admin-new-landing-picture">
  <div class="page-landing-picture-header right header-red">
    <span class="page-landing-picture-subtitle">Votre plateforme d'annonces</span>
    <h1>Modifier l'annonce Ref. <%= @annonce.reference %></h1>
  </div>
</div>
<!-- Bannière -->

<!-- Sous-navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item">Modification annonce</span>
    </div>
  </div>
</div>
<!-- Sous-navigation -->

<div class="page-section">
  <div id="new-annonce-form">
    <%= render 'shared/annonce-form', annonce: @annonce %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
<% end %>
