.btn-primary {
  background-color: $primary-color;
  &:hover {
    background-color: $primary-color;
  }
  &:focus {
    background-color: $primary-color;
  }
}

.btn-light {
  color: $primary-color;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  &:hover {
    color: $primary-color-light;
  }
}
