.btn {
  color: initial;
  background-color: transparent;
  border: 1px solid $brand-grey-text;
  box-shadow: initial;
  @media (min-width: $very-large-screen) {
    height: 2rem !important;
    line-height: 2rem !important;
  }
}

.btn-primary {
  &:hover {
    background-color: $primary-color;
    color: white;
    border: 1px solid #F0AE2C;
    box-shadow: none;
  }
  &:focus {
    background-color: $primary-color;
    color: white;
    border: none;
    box-shadow: none;
  }
}

.btn-light {
  color: $primary-color;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  &:hover {
    color: $primary-color-light;
  }
}
