// CARTES EQUIPE
.carte-equipe {
  @media (max-width: $small-screen) {
    margin-bottom: 3rem;
  }
  background-color: white;
  width: auto;
  height: auto;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;
  .carte-equipe-photo {
    position: relative;
    img {
      width: 100%;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
  .carte-equipe-infos {
    padding: 0 1em 1em 1em;
    h5 {
      letter-spacing: 0.5px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
    }
    p {
      text-align: center;
      font-size: 0.9rem;
      color: $brand-grey-text;
    }
  }
}
