// COMMUN A TOUS LES FORMULAIRES

// Pas de label au-dessus des input
label {
  display: none;
}
input {
  border: 1px solid $brand-grey !important;
  padding: 0 1rem !important;
  border-radius: 3px !important;
  height: 2.4rem !important;
  font-size: 0.9rem !important;
  box-sizing: inherit !important;
}
textarea {
  border: 1px solid $brand-grey !important;
  padding: 0.8rem 1rem !important;
  border-radius: 3px !important;
  height: 2.4rem !important;
  font-size: 0.9rem !important;
  box-sizing: inherit !important;
}
.select-dropdown {
  color: $brand-grey-text !important;
  font-size: 0.9rem !important;
  span {
    color: $brand-grey-text !important;
    font-size: 0.9rem !important;
  }
}
.select-wrapper {
  span.caret {
    color: $primary-color !important;
    right: 1rem !important;
  }
  .dropdown-content li:hover {
    background-color: $primary-color-light;
  }
}
.input-field {
  width: 100%;
}
// COMMUN A TOUS LES FORMULAIRES

