select {
  display: block;
}

// écraser les variables de materilialize pour un formulaire qui tient la route !
.input-field.col label {
  top: -0.8rem;
  left: 0px;
  color: $secondary-color;
}

[type="checkbox"] + label:before {
  border: 2px solid $brand-grey;
}


// contact form
.contact-form {
  width: 100%;
}
.contact-form .input-field.col label {
  color: $primary-color !important;
}
.contact-form .input-field.col.select {
  margin-bottom: 2rem;
}
label.select {
  top: -1.8rem !important;
}
abbr[title] {
  border-bottom: initial;
}
.contact-form input, textarea {
  border-bottom: 1px solid $primary-color !important;
  &:focus {
    border-bottom: 1px solid $primary-color !important;
    box-shadow: initial;
  }
}
