// COMMUN A TOUS LES FORMULAIRES

// Pas de label au-dessus des input
label {
  display: none;
}
input {
  border: 1px solid #eee !important;
  padding: 0 1rem !important;
  border-radius: 3px !important;
  height: 2.4rem !important;
  font-size: 0.9rem !important;
  box-sizing: inherit !important;
}
textarea {
  border: 1px solid #eee !important;
  border-radius: 3px !important;
  height: 2.4rem !important;
  font-size: 0.9rem !important;
  box-sizing: inherit !important;
  padding: 0.8rem 0 4.6rem 1rem !important;
}
.select-dropdown {
  color: $brand-grey-text !important;
  font-size: 0.9rem !important;
  span {
    color: $brand-grey-text !important;
    font-size: 0.9rem !important;
  }
}
.select-wrapper {
  span.caret {
    color: $primary-color !important;
    right: 1rem !important;
  }
  .dropdown-content li:hover {
    background-color: $primary-color-light;
  }
}
.input-field {
  width: 100%;
}

.contact-form-button {
  padding: 0 0.75rem;
  .btn {
    width: 100%;
  }
}
// COMMUN A TOUS LES FORMULAIRES

// SPECIFIQUE FORMULAIRE DE LA PAGE SEARCH
#search-form {
  input {
    height: 5rem !important;
    font-size: 2rem !important;
  }
}
// SPECIFIQUE FORMULAIRE DE LA PAGE SEARCH

// SPECIFIQUE FORMULAIRE DE CREATION D UNE ANNONCE -- annonce-form.html.erb
#new-annonce-form {
  label {
    display: block !important;
    position: absolute;
    top: 0;
    color: $brand-dark-grey;
    font-size: 0.9rem;
    &.attachinary {
      top: -1.6rem;
    }
  }
  .select-wrapper + label {
    font-size: 0.9rem;
    top: -1.6rem;
  }
}
.form-infos-header {
  margin-bottom: 3rem;
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
.form-infos-content {
  .col {
    padding: 0;
  }
}
// SPECIFIQUE FORMULAIRE DE CREATION D UNE ANNONCE
textarea {
  outline: none !important;
  &:focus {
    border-bottom: 1px solid #f1a086;
    box-shadow: 0 1px 0 0 #f1a086;
  }
}
