.navbar {
  padding: 1em 5em;
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  z-index: 20;
  a {
    color: $brand-dark-grey;
    letter-spacing: .1em;
  }
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-link:hover {
  font-weight: 700;
  letter-spacing: .2em;
  transition: all 350ms ease-in-out;
}

.navbar-link.active {
  font-weight: 700;
  letter-spacing: .2em;
  transition: all 350ms ease-in-out;
}

// left side
.navbar-brand {
  float: left;
}

// right side
.navbar-menu {
  float: right;
}
.navbar-menu-item, {
  display: inline;
  padding: 0 0.8em;
}
.navbar-menu-sub-item{
  display: inline;
}

// dropdown
// #dropdown-navbar a {
//   color: initial;
// }

#dropdown-full {
  display: inline;
  position: relative;
}

// search item
#navbar-search-icon {
  cursor: pointer;
  &:hover {
    color: black;
    opacity: 0.2;
  }
}
