.navbar {
  padding: 1em 5em;
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  z-index: 20;
}

// left side
.navbar-brand {
  float: left;
}

// right side
.navbar-menu {
  float: right;
}
.navbar-menu-item, {
  display: inline;
  padding: 0 0.8em;
}
.navbar-menu-sub-item{
  display: inline;
}

// dropdown
// #dropdown-navbar a {
//   color: initial;
// }

// search item
#navbar-search-icon {
  cursor: pointer;
}
