// PAGE DE RECHERCHE
.search-page-wrapper.active {
  background-color: $brand-grey;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

// bouton fermer
#search-page-close-link {
  position: absolute;
  top: 5em;
  right: 5em;
  max-width: 4em;
  cursor: pointer;
  @media (max-width: $small-screen) {
    width: 3rem;
  }
}

// formulaire de recherche
#search-form {
  width: 80%;
  input {
    color: $brand-dark-grey;
    height: 6rem;
    font-size: 3rem;
    &:focus {
      border-bottom: 1px solid $primary-color;
      box-shadow: 0 1px 0 0 $primary-color;
    }
  }
}
// PAGE DE RECHERCHE

// PAGE DE RESULTATS
// Bannière
#search-banner {
  background: image-url('photo-test3.png');
  background-repeat:no-repeat;
  background-size: cover;
}
.search-answer-container {
  margin-bottom: 4rem;
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
.result-sub-label {
  color: $brand-grey-text;
  letter-spacing: .04em;
}
// PAGE DE RESULTATS
