.search-page-wrapper.active {
  background-color: $brand-grey;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

// bouton fermer
#search-page-close-link {
  position: absolute;
  top: 5em;
  right: 5em;
  max-width: 4em;
  cursor: pointer;
}

// formulaire de recherche
#search-form {
  width: 80%;
  input {
    color: $brand-dark-grey;
    height: 6rem;
    font-size: 3rem;
    &:focus {
      border-bottom: 1px solid $primary-color;
      box-shadow: 0 1px 0 0 $primary-color;
    }
  }
}
